<h2>I Haz Warez</h2>

<div>
  <label for="new-hero">Ware: </label>
  <input id="new-hero" #heroName />
  <label for="new-magnet">Magnet link:</label>
  <input id="new-magnet" #torrentMagnet />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="
      add(heroName.value, torrentMagnet.value);
      heroName.value = '';
      torrentMagnet.value = ''
    "
  >
    New Booty
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let torrent of heroes">
    <a routerLink="/detail/{{ torrent.id }}">
      <span class="badge">{{ torrent.id }}</span> {{ torrent.name }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete torrent"
      (click)="delete(torrent)"
    >
      x
    </button>
  </li>
</ul>
