<div *ngIf="ware">
  <h2>{{ ware.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ ware.id }}</div>
  <div>
    <label for="ware-name">Name: </label>
    <input id="ware-name" [(ngModel)]="ware.name" placeholder="Torrent name" />
  </div>
  <div>
    <label for="torrent-magnet">Magnet URL:</label>
    <input id="torrent-magnet" [(ngModel)]="ware.magnet" />
  </div>
  <div>
    <label for="torrent-description">Description:</label>
    <input id="torrent-description" [(ngModel)]="ware.description" />
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
